In [ ]:
from google.colab import drive, runtime
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('drive/My Drive/Colab Notebooks/UMich/SI670/Final_Proj')

In [ ]:
import pandas as pd
from tqdm import tqdm
import requests
import cv2
import numpy as np
import tensorflow as tf
from keras.applications.densenet import DenseNet121, preprocess_input
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense, Input, InputLayer, Flatten, GlobalAveragePooling2D, Dropout, concatenate, Embedding, Reshape
from keras.layers import Concatenate
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.callbacks import EarlyStopping
from PIL import Image
import zipfile
from  matplotlib import pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline

In [ ]:
SEED = 670

# Load Data and Preprocess
Basic preprocessing, remove unneeded columns, replace NAs with UNK, narrow down `region`/`meal_type`.

In [ ]:
data = pd.read_csv('clean_recipe_data_nutrition.csv')
data = data[
    ['id', 'servings', 'calories_per_serving', 'protein_per_serving', 
     'fat_per_serving', 'carb_per_serving', 'meal_type', 'region']
]
data['meal_type'] = data['meal_type'].fillna(value='UNK_meal_type')
data.head()

,id,servings,calories_per_serving,protein_per_serving,fat_per_serving,carb_per_serving,meal_type,region
0,1,2,388,17,22,29,main,latin_american
1,3,10,795,16,39,96,dessert,latin_american
2,4,12,384,17,25,25,main,latin_american
3,8,8,381,34,22,9,UNK_meal_type,latin_american
4,9,12,427,18,12,63,main,latin_american

In [ ]:
# there are multiple meal types associated with some recipes
# assign them to only one
fix_meal_type_dict = {
    'UNK_meal_type':'UNK_meal_type', 
    'appetizer': 'appetizer', 
    'appetizer,bread': 'bread',
    'appetizer,bread,side': 'bread', 
    'appetizer,dessert': 'dessert', 
    'appetizer,main': 'appetizer',
    'appetizer,main,salad,side': 'main', 
    'appetizer,salad': 'salad', 
    'appetizer,side': 'appetizer',
    'appetizer,soups_and_stews': 'soups_and_stews', 
    'bread': 'bread', 
    'bread,main': 'bread', 
    'dessert': 'dessert',
    'dessert,main': 'dessert', 
    'dessert,salad': 'dessert', 
    'drinks': 'drinks', 
    'main': 'main', 
    'main,salad': 'salad',
    'main,side': 'side', 
    'main,side,soups_and_stews': 'main', 
    'main,soups_and_stews': 'main',
    'salad': 'salad', 
    'salad,side': 'salad', 
    'side': 'side', 
    'side,soups_and_stews': 'soups_and_stews',
    'soups_and_stews': 'soups_and_stews',
    ',main': 'main'
}
data = data.replace({'meal_type': fix_meal_type_dict})
fix_region_dict = {
    'african': 'african', 
    'african,european': 'african',
    'african,european,usa': 'african',
    'african,middle_eastern': 'african', 
    'african,middle_eastern,usa': 'african',
    'african,usa': 'african', 
    'asian': 'asian', 
    'asian,austrailia_new_zealand,usa': 'asian',
    'asian,european': 'asian', 
    'asian,usa': 'asian', 
    'austrailia_new_zealand': 'austrailia_new_zealand',
    'austrailia_new_zealand,european': 'austrailia_new_zealand', 
    'austrailia_new_zealand,usa': 'austrailia_new_zealand',
    'european': 'european',
    'european,latin_american': 'european', 
    'european,middle_eastern': 'european',
    'european,middle_eastern,usa': 'european', 
    'european,usa': 'european', 
    'latin_american': 'latin_american',
    'latin_american,usa': 'latin_american', 
    'middle_eastern': 'middle_eastern', 
    'middle_eastern,usa': 'middle_eastern',
    'usa': 'usa'
}
data = data.replace({'region': fix_region_dict})

Loaded weighted calorie predictions from nutritionix and food101 classification

In [ ]:
weighted_nutrition = pd.read_csv('weighted_nutrition.csv')
weighted_nutrition.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
weighted_nutrition.head()

   id  weighted_cal  weighted_pro  weighted_fat  weighted_carb
0   0    286.304811     29.143274     12.753691      12.897601
1   1    264.732791     21.452818     13.690746      13.481654
2   2    326.277472      4.935468     17.250680      39.309275
3   3    380.316082     32.387473     26.780495       0.184563
4   4    137.537077      7.995832      6.126593      13.032693

In [ ]:
data = pd.merge(data, weighted_nutrition, on='id')

In [ ]:
data.head()

,id,servings,calories_per_serving,protein_per_serving,fat_per_serving,carb_per_serving,meal_type,region,weighted_cal,weighted_pro,weighted_fat,weighted_carb
0,1,2,388,17,22,29,main,latin_american,264.732791,21.452818,13.690746,13.481654
1,3,10,795,16,39,96,dessert,latin_american,380.316082,32.387473,26.780495,0.184563
2,4,12,384,17,25,25,main,latin_american,137.537077,7.995832,6.126593,13.032693
3,8,8,381,34,22,9,UNK_meal_type,latin_american,321.578552,15.328963,12.359435,35.918468
4,9,12,427,18,12,63,main,latin_american,394.862481,43.675238,22.453960,1.500357

# Load images, split data into train and test

In [ ]:
images = []
imgzip = zipfile.ZipFile("Recipe_Images_224_x_224.zip")
for f in tqdm(imgzip.infolist()):
    ifile = imgzip.open(f)
    img = np.asarray(Image.open(ifile))
    images.append(img)

100%|██████████| 8573/8573 [00:16<00:00, 535.70it/s]

In [ ]:
data['stratify_split'] = data['meal_type'] + data['region']

In [ ]:
data['stratify_split'].value_counts()

UNK_meal_typeusa                       1075
UNK_meal_typeeuropean                   542
dessertusa                              451
maineuropean                            252
UNK_meal_typelatin_american             223
mainasian                               215
mainlatin_american                      214
mainusa                                 202
saladusa                                177
sideusa                                 138
desserteuropean                         135
breadusa                                114
soups_and_stewsusa                      108
appetizereuropean                       107
UNK_meal_typemiddle_eastern             102
breadeuropean                           100
UNK_meal_typeasian                       92
saladeuropean                            83
appetizerusa                             81
sideeuropean                             74
soups_and_stewseuropean                  64
appetizerasian                           56
dessertlatin_american                    53
soups_and_stewsasian                     52
dessertasian                             51
UNK_meal_typeaustrailia_new_zealand      48
saladlatin_american                      46
appetizerlatin_american                  44
mainafrican                              37
sidelatin_american                       36
UNK_meal_typeafrican                     32
soups_and_stewsafrican                   32
breadlatin_american                      30
soups_and_stewslatin_american            30
sideasian                                26
drinkseuropean                           22
drinksasian                              18
sideafrican                              16
breadasian                               15
drinkslatin_american                      9
saladasian                                4
saladmiddle_eastern                       3
appetizermiddle_eastern                   3
mainmiddle_eastern                        2
sidemiddle_eastern                        2
dessertaustrailia_new_zealand             1
breadmiddle_eastern                       1
dessertmiddle_eastern                     1
Name: stratify_split, dtype: int64

In [ ]:
drop_stratify_split = ['dessertaustrailia_new_zealand', 'breadmiddle_eastern', 'dessertmiddle_eastern']
data = data[~data['stratify_split'].isin(drop_stratify_split)]

In [ ]:
train_df, test_df = train_test_split(data, test_size = 0.2, random_state = SEED, stratify=data[['stratify_split']])

In [ ]:
train_idx = train_df['id'].values
test_idx = test_df['id'].values
train_images = np.array([images[idx] for idx in train_idx])
test_images = np.array([images[idx] for idx in test_idx])

In [ ]:
train_y = np.column_stack(
    (train_df['calories_per_serving'].values,
     train_df['protein_per_serving'].values,
     train_df['fat_per_serving'].values,
     train_df['carb_per_serving'].values)
)
test_y = np.column_stack(
    (test_df['calories_per_serving'].values,
     test_df['protein_per_serving'].values,
     test_df['fat_per_serving'].values,
     test_df['carb_per_serving'].values)
)

In [ ]:
one_hot_enc = OneHotEncoder(sparse = False)
train_df_tabular = train_df[['meal_type', 'region']]
train_tabular = one_hot_enc.fit_transform(train_df_tabular)
test_df_tabular = test_df[['meal_type', 'region']]
test_tabular = one_hot_enc.transform(test_df_tabular)

In [ ]:
cont_col = ['weighted_cal', 'weighted_pro',	'weighted_fat',	'weighted_carb']
train_df_cont = train_df[cont_col]
test_df_cont = test_df[cont_col]

In [ ]:
train_tabular.shape

(4172, 16)

In [ ]:
train_df_cont.to_numpy().shape

(4172, 4)

In [ ]:
train_tab_arr = np.concatenate((train_tabular, train_df_cont.to_numpy()), axis=1)
test_tab_arr = np.concatenate((test_tabular, test_df_cont.to_numpy()), axis=1)

In [ ]:
scaler = StandardScaler()
train_tab_arr = scaler.fit_transform(train_tab_arr)
test_tab_arr = scaler.transform(test_tab_arr)

# Create model

In [ ]:
IMG_SHAPE = (224, 224, 3)

In [ ]:
def create_cnn(IMG_SHAPE, fine_tune=False, fine_tune_at=0):
    data_augmentation = tf.keras.Sequential([
        tf.keras.layers.RandomFlip('horizontal'),
        tf.keras.layers.RandomRotation(0.2),
    ])
    base_model = DenseNet121(weights='imagenet', include_top=False, input_shape=IMG_SHAPE)
    base_model.trainable = False
    if fine_tune:
        fine_tune_at = fine_tune_at
        for layer in base_model.layers[-fine_tune_at:]:
            if not isinstance(layer, layers.BatchNormalization):
                layer.trainable = True

    inputs = tf.keras.Input(shape=(224, 224, 3))
    x = data_augmentation(inputs)
    x = preprocess_input(x)
    x = base_model(x, training = False)
    x = GlobalAveragePooling2D()(x)
    x = Dropout(0.2)(x)
    outputs = Dense(4, activation='relu')(x)
    model = Model(inputs, x)
    return model


def create_mlp(dim):
    model = Sequential()
    model.add(Dense(16, input_dim=dim, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(4, activation='relu'))
    return model

In [ ]:
mlp = create_mlp(train_tab_arr.shape[1])
cnn = create_cnn(IMG_SHAPE)

combined_input = concatenate([mlp.output, cnn.output])

x = Dense(8, activation = 'relu')(combined_input)
x = Dense(4, activation = 'linear')(x)

model = tf.keras.Model(inputs = [mlp.input, cnn.input], outputs = x)
model.compile(
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.001),
    loss = 'huber_loss',
    metrics = ['mean_absolute_error']
)
model.summary()

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/densenet/densenet121_weights_tf_dim_ordering_tf_kernels_notop.h5
29084464/29084464 [==============================] - 2s 0us/step
Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_2 (InputLayer)           [(None, 224, 224, 3  0           []
                                )]

 sequential_1 (Sequential)      (None, 224, 224, 3)  0           ['input_2[0][0]']

 tf.math.truediv (TFOpLambda)   (None, 224, 224, 3)  0           ['sequential_1[0][0]']

 tf.nn.bias_add (TFOpLambda)    (None, 224, 224, 3)  0           ['tf.math.truediv[0][0]']

 dense_input (InputLayer)       [(None, 20)]         0           []

 tf.math.truediv_1 (TFOpLambda)  (None, 224, 224, 3)  0          ['tf.nn.bias_add[0][0]']

 dense (Dense)                  (None, 16)           336         ['dense_input[0][0]']

 densenet121 (Functional)       (None, 7, 7, 1024)   7037504     ['tf.math.truediv_1[0][0]']

 dropout (Dropout)              (None, 16)           0           ['dense[0][0]']

 global_average_pooling2d (Glob  (None, 1024)        0           ['densenet121[0][0]']
 alAveragePooling2D)

 dense_1 (Dense)                (None, 4)            68          ['dropout[0][0]']

 dropout_1 (Dropout)            (None, 1024)         0           ['global_average_pooling2d[0][0]'
                                                                 ]

 concatenate (Concatenate)      (None, 1028)         0           ['dense_1[0][0]',
                                                                  'dropout_1[0][0]']

 dense_3 (Dense)                (None, 8)            8232        ['concatenate[0][0]']

 dense_4 (Dense)                (None, 4)            36          ['dense_3[0][0]']

==================================================================================================
Total params: 7,046,176
Trainable params: 8,672
Non-trainable params: 7,037,504
__________________________________________________________________________________________________

In [ ]:
es = EarlyStopping(monitor='val_loss', patience=3, restore_best_weights=True)
initial_epochs = 500
history = model.fit(
    x = [train_tab_arr, train_images],
    y = train_y,
    batch_size = 32,
    epochs = initial_epochs,
    validation_split = 0.2,
    callbacks = [es]
)
model.save_weights('initial_multiin_101_multiout_densenet.h5')

Epoch 1/500
105/105 [==============================] - 32s 166ms/step - loss: 93.4414 - mean_absolute_error: 93.9374 - val_loss: 80.4410 - val_mean_absolute_error: 80.9371
Epoch 2/500
105/105 [==============================] - 14s 137ms/step - loss: 76.7346 - mean_absolute_error: 77.2267 - val_loss: 61.4151 - val_mean_absolute_error: 61.9063
Epoch 3/500
105/105 [==============================] - 14s 132ms/step - loss: 58.2878 - mean_absolute_error: 58.7808 - val_loss: 47.6271 - val_mean_absolute_error: 48.1200
Epoch 4/500
105/105 [==============================] - 14s 136ms/step - loss: 51.4471 - mean_absolute_error: 51.9397 - val_loss: 46.2785 - val_mean_absolute_error: 46.7711
Epoch 5/500
105/105 [==============================] - 14s 130ms/step - loss: 50.0768 - mean_absolute_error: 50.5691 - val_loss: 45.7650 - val_mean_absolute_error: 46.2569
Epoch 6/500
105/105 [==============================] - 14s 130ms/step - loss: 49.2840 - mean_absolute_error: 49.7766 - val_loss: 45.6133 - val_mean_absolute_error: 46.1057
Epoch 7/500
105/105 [==============================] - 14s 138ms/step - loss: 48.7497 - mean_absolute_error: 49.2414 - val_loss: 45.6137 - val_mean_absolute_error: 46.1060
Epoch 8/500
105/105 [==============================] - 14s 131ms/step - loss: 48.3573 - mean_absolute_error: 48.8489 - val_loss: 45.4491 - val_mean_absolute_error: 45.9402
Epoch 9/500
105/105 [==============================] - 14s 130ms/step - loss: 48.2150 - mean_absolute_error: 48.7070 - val_loss: 45.4321 - val_mean_absolute_error: 45.9234
Epoch 10/500
105/105 [==============================] - 14s 136ms/step - loss: 48.0355 - mean_absolute_error: 48.5267 - val_loss: 45.2897 - val_mean_absolute_error: 45.7797
Epoch 11/500
105/105 [==============================] - 14s 130ms/step - loss: 47.9455 - mean_absolute_error: 48.4374 - val_loss: 45.2191 - val_mean_absolute_error: 45.7102
Epoch 12/500
105/105 [==============================] - 13s 128ms/step - loss: 48.0005 - mean_absolute_error: 48.4918 - val_loss: 45.2548 - val_mean_absolute_error: 45.7470
Epoch 13/500
105/105 [==============================] - 14s 136ms/step - loss: 47.9054 - mean_absolute_error: 48.3967 - val_loss: 45.1424 - val_mean_absolute_error: 45.6322
Epoch 14/500
105/105 [==============================] - 13s 129ms/step - loss: 47.7166 - mean_absolute_error: 48.2081 - val_loss: 45.2327 - val_mean_absolute_error: 45.7233
Epoch 15/500
105/105 [==============================] - 13s 128ms/step - loss: 47.9978 - mean_absolute_error: 48.4891 - val_loss: 45.2185 - val_mean_absolute_error: 45.7102
Epoch 16/500
105/105 [==============================] - 14s 138ms/step - loss: 47.6131 - mean_absolute_error: 48.1042 - val_loss: 45.1181 - val_mean_absolute_error: 45.6100
Epoch 17/500
105/105 [==============================] - 14s 131ms/step - loss: 47.5520 - mean_absolute_error: 48.0436 - val_loss: 45.2905 - val_mean_absolute_error: 45.7836
Epoch 18/500
105/105 [==============================] - 14s 131ms/step - loss: 47.8100 - mean_absolute_error: 48.3022 - val_loss: 44.9986 - val_mean_absolute_error: 45.4879
Epoch 19/500
105/105 [==============================] - 14s 132ms/step - loss: 47.7119 - mean_absolute_error: 48.2036 - val_loss: 45.2545 - val_mean_absolute_error: 45.7456
Epoch 20/500
105/105 [==============================] - 14s 129ms/step - loss: 47.5093 - mean_absolute_error: 48.0008 - val_loss: 45.0850 - val_mean_absolute_error: 45.5754
Epoch 21/500
105/105 [==============================] - 15s 144ms/step - loss: 47.5431 - mean_absolute_error: 48.0349 - val_loss: 45.2953 - val_mean_absolute_error: 45.7878

In [ ]:
model.load_weights('initial_multiin_101_multiout_densenet.h5')

In [ ]:
test_preds = model.predict([test_tab_arr, test_images])
mae_cal = mean_absolute_error(test_y[:,0:1], test_preds[:,0:1])
mae_pro = mean_absolute_error(test_y[:,1:2], test_preds[:,1:2])
mae_fat = mean_absolute_error(test_y[:,2:3], test_preds[:,2:3])
mae_carb = mean_absolute_error(test_y[:,3:4], test_preds[:,3:4])
print(mae_cal, mae_pro, mae_fat, mae_carb)

33/33 [==============================] - 15s 116ms/step
147.78520779956804 9.429854969640344 9.836254071458546 17.34814895615267